.Rproj.user
.Rhistory
.RData
.Ruserdata
gitattributes.txt
gitignore.txt
giant anteater project.Rproj
data/
Methods reference material/
Site visuals/
colour legend.txt
figures/Anteater_Proximity_old (combined site1,2).png

